*{
    margin: 0;
    padding: 0;

}
.container{
width: 100%;
height: 100vh;
font-family: sans-serif;
background: aqua;
color: brown;
display: flex;
align-items: center;
justify-content: center;

}
.card{
height: 500px;
width: 350px;
box-shadow:  yellow ;
perspective: 1000px;

}
.inner-box{
position: relative;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: transform 1s;
}
.card-front, .card-back{
position: absolute;
height: 100%;
width: 100%;
background-position: centre;
background-size: cover;
background-image: linear-gradient(rgba(0,0,100,0.8),rgba(0,0,100,0.8)),url(new.jpg);
padding: 55px;
box-sizing: border-box;
backface-visibility: hidden;
}
.card-back{
transform: rotateY(180deg);
}
.card h2{
font-weight: normal;
font-size: 24px;
margin-bottom: 20px;
text-align: center;
}
.input-box{
width: 100%;
background: transparent;
border: 2px solid green;
height: 32px;
margin: 6px 0;
border-radius: 20px;
padding: 0 10px;
box-sizing: border-box;
outline: none;
text-align: center;
color: rgb(28, 0, 130);
}
::placeholder{
    color: cornsilk;
    font-size: 12px;
}
button{
width: 100%;
background: transparent;
border: 1px solid green;
margin: 35px 0 10px;
height: 32px;
font-size: 12px;
border-radius: 20px;
padding: 0 10px;
box-sizing: border-box;
outline: none;
color: wheat;
cursor: pointer;
}
.submit-btn{
position: relative;

}
.submit-btn::after{
content: \27a4;
color: #333;
line-height: 32px;
font-size: 17px;
width: 32px;
height: 32px;
border-radius: 50px;
position: absolute;
background: turquoise;
right: -1px;
top: -1px;

}
span{
font-size: 10px;
margin-left: 13px;
}
.card .btn{
margin-top: 70px;
}
.card a{
color: tomato;
text-decoration: none;
display: block;
text-align: center;
font-size: 13px;
margin-top: 8px;

}